<footer>
    <span>Made  with  <span class="fab fa-canadian-maple-leaf"></span> | <a href="#">the KGM</a> |<span class="fab fa-canadian-maple-leaf"></span> 2021 All rights reserved.</span>
</footer>

<script src="/script.js"></script>
</body>
</html>