<section class="skills" id="skills">
  <div class="max-width">
    <h2 class="title">My skills</h2>
    <div class="skills-content">
      <div class="column left">
        <div class="text">My creative skills.</div>
        <hr />
        <p>
          Developer with 3+ years of experience in designing and developing user
          interfaces,testing,debugging and building eCommerce
          technologies.Comprehensive knowledge of Software Development Life
          Cycle has a thorough understanding of various phases like
          Requirements,Analysis/Design, Development and Testing. Proficient in
          object-oriented design,database designing,data structures,
          problem-solving, complexity analysis and debugging. Designed and
          Developed custom WordPress themes and plugins.<br />
          <i class="fas fa-ribbon"></i> Solid background and advanced knowledge
          in computer development software including Java, Javascriprt , NodeJs,
          and React. <br /><i class="fas fa-ribbon"></i> Skilled in working with
          database management tools such as MySQL and MongoDB. <br /><i
            class="fas fa-ribbon"
          ></i>
          Ability to solve complex successfully with minimal guidance or help
          using a logical reasoning technique and a strong attention to details.
          <br /><i class="fas fa-ribbon"></i>Communicating and collaborating
          with team members and stakeholders to ensure effective working
          relationships. <br /><i class="fas fa-ribbon"></i>Working on multiple
          projects as a project team member <br /><i class="fas fa-ribbon"></i
          >Provides documentation of development, project progress, analysis,
          recommendations, either individually or by actively participating in
          development process
        </p>

        <a href="/readmore">Read more</a>
      </div>
      <div class="column right">
        <div class="bars">
          <div class="info">
            <span>HTML & CSS</span>
          </div>
          <div class="line html"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>MySQL & MongoDB</span>
          </div>
          <div class="line data"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>JavaScript</span>
          </div>
          <div class="line js"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>Java</span>
          </div>
          <div class="line java"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>Python & PHP</span>
          </div>
          <div class="line php"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>Mobile App.</span>
          </div>
          <div class="line more"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>NodeJS,React etc..</span>
          </div>
          <div class="line reactJS"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>Loading...</span>
          </div>
          <div class="line others"></div>
        </div>
      </div>
    </div>
  </div>
</section>
