<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/aboutme.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="/">
                <span class="d-block d-lg-none">Felix Gokmen.</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="images/fatih.png" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About Me</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Academic Work</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/downloads/felix_resume.pdf" target="_blank">Download PDF</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Gokmen
                        <span class="text-primary">Felix</span>
                    </h1>
                    <div class="subheading mb-5">
                        London · Ontario,  · (437) 971-1003 ·
                        <a href="mailto:name@email.com">felixgokmen@gmail.com</a>
                    </div>
                    <p class="lead mb-5">Developer with 3+ years of experience in designing and developing user interfaces, testing, debugging and building eCommerce technologies.<br>
                        <i class="fas fa-hand-point-right"></i>Over 3+ years of programming experience as  Web application developer.<br>
                        <i class="fas fa-hand-point-right"></i>Over 1+ years of programming experience as Mobile application developer.<br>
                        <i class="fas fa-hand-point-right"></i>Corresponded with developers, analysts and consultants during the development and implementation phase to ensure requirements are being meet; manage and present any change requested.<br>
                        <i class="fas fa-hand-point-right"></i>Condensed and transformed business requirements into functional requirements and designing business models using UML diagrams.<br>
                        <i class="fas fa-hand-point-right"></i>Comprehensive knowledge of Software Development Life Cycle has a thorough understanding of various phases like Requirements, Analysis/Design, Development and Testing.<br>
                        <i class="fas fa-hand-point-right"></i>Proficient in object-oriented design, database designing, data structures, problem-solving, complexity analysis and debugging.<br>
                        <i class="fas fa-hand-point-right"></i>Designed and Developed custom WordPress themes and plugins. 
                    </p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/fgokmen/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/fatihkgm"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://www.youtube.com/watch?v=NJJuJuHdeoM"><i class="fab fa-youtube"></i></a>
                        <a class="social-icon" href="http://www.thekgmweb.com/"><i class="fas fa-laptop-code"></i></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">My Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Web Developer</h3>
                            <div class="subheading mb-3">Freelance Website Developer</div>
                            <p> <i class="fas fa-chevron-right"></i>Designed, built, or maintained web sites, using authoring or scripting languages, content creation tools, management tools, and digital media.<br>
                                <i class="fas fa-chevron-right"></i>Performed or directed web site updates.<br>
                                <i class="fas fa-chevron-right"></i>Written, designed, or edited web page content, or directed others producing content.<br>
                                <i class="fas fa-chevron-right"></i>Backed up files from web sites to local directories for instant recovery in case of problems.<br>
                                <i class="fas fa-chevron-right"></i>Identified problems uncovered by testing or customer feedback, and corrected problems or refer problems to appropriate personnel for correction.<br>
                                <i class="fas fa-chevron-right"></i> Maintained understanding of current web technologies or programming practices through continuing education, reading, or participation in professional conferences, workshops, or groups.<br>
                                <i class="fas fa-chevron-right"></i>Helped to achieve a consistent look and visual theme across the website by promoting uniform fonts, formatting, images, and layout.<br>
                                <i class="fas fa-chevron-right"></i>Managed the gallery website and blog.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">March 2019 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Mobile Application</h3>
                            <div class="subheading mb-3">Please visit my GitHub</div>
                            <p>Worked for developing application for Android and IOS operating Ssytem using Android SDK,Android Studio,Java,React Native and Swift Xcode.Please visit my GitHub account and see my projects </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Projects and Assignments</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Capston Project</h3>
                            <div class="subheading mb-3">Team Project -- currently working</div>
                            <p>Managed a 4-member cross-functional  team and created a website using  Django as a back-end framework (Python ) that displays a list of all Universities and Colleges in Ontario and allows filtering results based on various criteria such as program or programs of choice, co-ops, ratings, city.Implemented Bootstrap themes and  used SQL languages.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">October 2020 - Present</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Ecommerce App</h3>
                            <div class="subheading mb-3">React Project</div>
                            <p>Builded a eCommerce app using React with Redux ,Hooks, GraphQL and  ContextAPI.
                                ICreated  authentication for users and implemented Stripe 
                                Used GoogleAPI and Firebase database</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Experience</span></div>
                    </div>
                    
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">George Brown College</h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                            <div>Computer Science - Web Development Track</div>
                            <p><i class="fas fa-smile-wink"></i> Received Dean Honor's List</p>
                            <p>GPA: 3.6</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">September 2018 - Aprill 2021</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-swift"></i></li>
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        <li class="list-inline-item"><i class="fab fa-android"></i></li>
                        <li class="list-inline-item"><i class="fab fa-java"></i></li>
                        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                        <li class="list-inline-item"><i class="fab fa-php"></i></li>
                        <li class="list-inline-item"><i class="fab fa-python"></i></li>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <ul>
                                <li> <i class="fas fa-file-code"></i>&nbsp;&nbsp;HTML & CSS  coding at real lab classes...</li>
                                <li><i class="fab fa-java"></i>&nbsp;&nbsp;Java Object Programming</li>
                                <li><i class="fab fa-js"></i>&nbsp;&nbsp;JavaScript "along jQuery"</li>
                                <li><i class="fab fa-node-js"></i>&nbsp;&nbsp;NodeJS and React Native </li>
                                <li><i class="fas fa-database"></i>&nbsp;&nbsp;DataBase "mySQL" , "MongoDB"</li>
                                <li><i class="fab fa-php"></i>&nbsp;&nbsp;PHP </li>
                                <li><i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;Mobile Application</li>
                                <li><i class="fab fa-python"></i>&nbsp;&nbsp;Pyhton and Machine Learning</li>
                                
                        

                        </ul>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Apart from being a developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier. During the warmer months here in Toronto, I enjoy  biking and camping.</p>
                    <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, and I spend a large amount of my free time exploring the latest technology advancements in the  world.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Received Dean's Honor List.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Certification- Goerge Brown Team Class LeaderShip.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Certification - Helping student assossiation for event Culture Fair.
                        </li>
                        <hr style="margin: 60px auto; opacity: .5;">
                        
                        
                    </ul>
                    
                        
                    
                      
                    <iframe width="380" height="215" src="https://www.youtube.com/embed/NJJuJuHdeoM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
               
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="/scripts.js"></script>
    </body>
</html>
