<%- include("partials/general/generalHeader"); -%>

<main role="main" class="container mt-5">
  <h1>Gradvisory Project Summary</h1>

  <p class="lead">The project aims to target the time period in which people of 16 years or older begin looking to further their career paths through learning. Currently, there are various reports and stories of how people tend to struggle when it
    comes to finding where they wish to spend the next few years learning. By providing an all-in-one platform that the people may utilize to facilitate the process, we hope to solve what would otherwise be a headache inducing process. With high
    potential of contracts with not only private learning institutes, but also public government funded institutes that would be able to fully utilize our services. A study was also done in the US and out of the 90,000 respondents to the survey. 50%
    would change their decisions if they had the chance. By using our website, we hope to significantly reduce that number.</p>
    <div style="width: 960px; margin: 0 auto; padding-top: 80px; padding-bottom: 80px;">
      <h3>Click on it to see actual website</h3>
  <a href="https://gradvisor-app.herokuapp.com" target="_blank">
  <img  src="/images/gradvisory.gif" class="rounded mx-auto d-block"  width="50%"  alt="..."></a>
  <hr style="margin: 60px auto; opacity: .5;">
  <h2 class="mt-5" >Project Summary </h2>
  <dl class="row">
    <dt class="col-sm-3">Company Name: </dt>
    <dd class="col-sm-9">Gradvisor</dd>

    <dt class="col-sm-3">Team Members : </dt>
    <dd class="col-sm-9">
      <p>We are working on this project with; </p>
      <p>Instructor: Anjana Shah ,</p>
      <p> Yazan S, Zac S., Joshua B., Felix G. </p>
    </dd>

    <dt class="col-sm-3">Project Status Summary :</dt>
    <dd class="col-sm-9">We have a working example of our website already hosted up on Heroku, and we’ve integrated Django and Bootstrap into the same project. We’re planning/picking out a web scraper for us to use and are adding more pages for admins, login/registration and searching.</b> </dd>

    <dt class="col-sm-3 text-truncate">About the project: </dt>
    <dd class="col-sm-9">Project Gradvisory (short for Graduation Advisor) is a website capable of advising students, new and old on their career paths. Or even opening further paths that they may have not considered before. We hope that through our
      website people will be able to compare universities, colleges, programs within and outside of the institutes as the user pleases to allow them to properly choose how they wish to shape their future. </dd>

  </dl>

  <ul class="list-unstyled mt-5">
    <li ><b>Project Features:</b></li>
    <ul>
      <li>Displays a list of all Universities and Colleges in Ontario.</li>
      <li>Allows to filter results based on various criteria such as program or programs of choice, co-ops, ratings, city, etc...</li>
      <li>Advisory system that allows you to compare courses and colleges based on your own customized criteria</li>
      <li>Allows current students and Alumni to review the college you're eyeing so you can make a much more informed decision.</li>
      <li>Shows you a list of possible jobs after graduating from the program.</li>
      <li>Sign up and Login so you can keep track of your choices, add in your grades so it can recommend the most likely colleges and universities that are suitable for you.</li>
      <li>Allows Colleges and Universities themselves to edit their listings for it to be first approved by the application before the changes are made. (College edits the grade requirement - Admin 1 approves the change - it shows up on app.</li>
      <li>Shows you what campus life is like, with pictures and dorm choices which all include what the fees for each one would be. Including nearby food options.</li>
    </ul>
    <li>We are still working on this project...</li>
  </ul>
  <hr style="margin: 60px auto; opacity: .5;">
  <h2 class="text-center">Business Context Diagram</h2>
  <img src="/images/grad2.png" class="rounded mx-auto d-block" alt="contextDiagram">
  

<div class="container mt-5">
  <h2>Gradvisor Moq-Up</h2>
  <p>The sample screen shots of our projects moq-up.</p>
  <p>Click on the images to enlarge them.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/images/grad3.png" target="_blank">
          <img src="/images/grad3.png" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Registration Page.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/images/grad4.png" target="_blank">
          <img src="/images/grad4.png" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Universities Program Description .</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/images/grad5.png" target="_blank">
          <img src="/images/grad5.png" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Universities Information.</p>
          </div>
        </a>
      </div>
    </div>

  </div>
  <div style="width: 960px; margin: 0 auto; padding-top: 80px; padding-bottom: 80px;">
    <div class="container mt-5">
      <h2>Project Summary</h2>
      <p>Click on the images to enlarge them.</p>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/images/summary1.png" target="_blank">
              <img src="/images/summary1.png" alt="Lights" style="width:300px; height:380px" >
              <div class="caption">
                <p>Page1</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/images/summary2.png" target="_blank">
              <img src="/images/summary2.png" alt="Nature" style="width:300px; height:380px">
              <div class="caption">
                <p>Page2</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/images/summary3.png" target="_blank">
              <img src="/images/summary3.png" alt="Fjords" style="width:300px; height:380px">
              <div class="caption">
                <p>Page3</p>
              </div>
            </a>
          </div>
        </div>
        <p> <a href="/downloads/vision.pdf" target="_blank">Download the file as PDF</a></p>
        <iframe src="/downloads/vision.pdf" frameborder = "0" width="100%" height="700px"></iframe>
      </div>
  </div>

  <div style="width: 960px; margin: 0 auto; padding-top: 80px; padding-bottom: 80px;">
    <div class="container mt-5">
      <h2>Project Vision</h2>
      <p>Click on the images to enlarge them.</p>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/images/vision.png" target="_blank">
              <img src="/images/vision.png" alt="Lights" style="width:300px; height:380px" >
              <div class="caption">
                <p>Page1</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/images/vision2.png" target="_blank">
              <img src="/images/vision2.png" alt="Nature" style="width:300px; height:380px">
              <div class="caption">
                <p>Page2</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/images/vision3.png" target="_blank">
              <img src="/images/vision3.png" alt="Fjords" style="width:300px; height:380px">
              <div class="caption">
                <p>Page3</p>
              </div>
            </a>
          </div>
        </div>
        <p> <a href="/downloads/summary.pdf" target="_blank">Download the file as PDF</a></p>
        <iframe src="/downloads/summary.pdf" frameborder = "0" width="100%" height="700px"></iframe>
      </div>
  </div>


  <div class="container mt-5">
    <h2>Project High-Level-Requirements</h2>
    <p>Aimed at students through their future education.
      Post-Secondary schools in Ontario.
      </p>
    <p> <a href="/downloads/highlevel.pdf" target="_blank">Download the file as PDF</a></p>
    <iframe src="/downloads/highlevel.pdf" frameborder = "0" width="100%" height="700px"></iframe>

  
    </div>


</div>


</div>
<div >
<ul class="list-unstyled mt-5 clearfix">
  <h3 class="text-center">  My contribution on this Project;</h3>
  <p><br><i class="fas fa-graduation-cap"></i>My contribution on this Project;
        
        <br><i class="fas fa-award"></i>Designing page using bootsrap skills .
        <br><i class="fas fa-award"></i>Creating admin page
        <br><i class="fas fa-award"></i>Creating user panel for each users

</div>
<div class="container mt-5">
  <p>Click on the images to enlarge them.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/images/github1.PNG" target="_blank">
          <img src="/images/github1.PNG" alt="Lights" style="width:70%">
          <div class="caption">
            <p>Gradvisory work team.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/images/github2.PNG" target="_blank">
          <img src="/images/github2.PNG" alt="Nature" style="width:70%">
          <div class="caption">
            <p>Gradvisory work team.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/images/github3.PNG" target="_blank">
          <img src="/images/github3.PNG" alt="Fjords" style="width:70%">
          <div class="caption">
            <p>Gradvisory work team.</p>
          </div>
        </a>
      </div>
    </div>

  </div>


  

  </div>



    <hr style="margin: 60px auto; opacity: .5;">
</main>


<%- include("partials/general/generalFooter"); -%>
