<%- include("partials/general/generalHeader"); -%>

<main role="main" class="container mt-5">
  <h1><span class="border-bottom border-secondary">What is JavaScript? Basic JavaScript Guide for Beginners</span></h1>
  <p class="lead text-center">JavaScript is one of the world's most popular software languages with a history of over 20 years. It is also one of the basic 3 software languages for web developers. <i class="fab fa-js"></i></p>

  <div class="card">
          <div class="row no-gutters">
              <div class="col-auto">
                  <img src="/images/blogs/js-logo.png" class="img-fluid" alt="">
              </div>
              <div class="col">
                  <div class="card-block px-2">
                      <h4 class="card-title text-center mt-5">What...It just created in  10 days<i class="far fa-surprise"></i></h4>
                      <p class="card-text text-center">JavaScript was created by Brandan Eich, a Netscape employee, over a 10-day period in September 1995. It was first called Mocha, and the language
                        was later named Mona and then LiveScript, just before it became JavaScript. The first versions of the language were specifically specific to Netscape and had limited
                        functionality, but continued to grow over time with the help of the developer community.JavaScript has since continued to grow, and by 2016 92% of websites started using JavaScript. In just 20 years, it has grown from a primitive language to the world's most popular language. If you are using the internet, you must have come across JavaScript.</p>
                  </div>
              </div>
          </div>
          <div class="card-footer w-100 text-muted">
              Did you know that Brendan Eich created that first version of the language "JavaScript " in just 10 days.
          </div>
    </div>



  <h2 class="mt-5">Why Is JavaScript Great?</h2>
      <p>JavaScript has several advantages over its competitors, especially in certain areas. Some of the advantages of JavaScript include:</p>
      <p>I have learned a lot while taking Computer Programming and Analyst.One of the most important one as i mention above , i learnt that there is no "i"
      in team working especially if you are coding along.The most creative one i believe is GitHub.It is fantastic.Froking ,creating repositories , making another branch and publishing
      It is hard to deal with some issues , so why not using the github and share with your friends without affecting your own original code.I have learned while taking courses.
      Making network and dealing with codes as a team.The most important part and i can say that i was really good with that. </p>
    <ul class="mt-5">
      <li><b>Some of the advantages i know ;</b></li>
      <ul>
        <li>You don't need to use a compiler because web browsers interpret it with HTML;</li>
        <li>It is easier to learn than other software languages;</li>
        <li>JS can run on multiple platforms and browsers;</li>
        <li>It makes websites more interactive and grabs the attention of visitors;</li>
        <li>As i mention above , i used JavaScript on my portfolio as well.</li>
        <li>In my opinion It is faster and lighter than other software languages. </li>

      </ul>
    </ul>
  <h2>Why we need JavaScript? </h2>
  <h3>Games ; </h3>
<p class="lead"> If you are interested in internet gaming and game development, you can try using your JavaScript knowledge to create browser-based games. Although there are some limitations on the complexity of browser-based games, JavaScript is as useful as any other programming language when it comes to making them...</p>
<p class="lead"> Creating your own simple game is a great way to test your JavaScript knowledge. "What is JavaScript?" It is not that easy to find answers to such questions. However, to understand how flexible the JavaScript language is, you have to try things yourself. Download a code editor, develop an idea of a simple game, and spend some time creating it.</p>

<h2 class="mt-5">Javascript browser-based games i created in GitHub</h2>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="https://github.com/fatihkgm/drum-kit" target="_blank">
        <img src="/images/blogs/drumkit.jpg" alt="Lights" style="height:200px">
        <div class="caption">
          <p>DrumKit JS.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="https://github.com/fatihkgm/dice-challenge" target="_blank">
        <img src="/images/dice.png" alt="Nature" style="height:200px">
        <div class="caption">
          <p>Dice Challange JS.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="https://github.com/fatihkgm/simon-game-using-js" target="_blank">
        <img src="/images/blogs/simon.png" alt="Fjords" style="height:200px">
        <div class="caption">
          <p>Sample Simon-Game JS</p>
        </div>
      </a>
    </div>
  </div>

  <h3>Games ; </h3>
  <p class="lead"> Although most mobile applications are built using operating system-based programming languages such as Swift (iOS) or Java (Android), there is nothing preventing you from implementing with JavaScript. The introduction of framework frameworks such as Phonegap or React Native paved the way for multiple mobile applications to be created for multiple operating systems. In fact, JavaScript seems to be the future mobile app language....</p>

  <p class="lead mt-5">I will continue this page with JavaScript Turorials...</p>
</main>
<hr style="margin: 60px auto; opacity: .5;">


<blockquote class="blockquote text-center mt-5">
  <p class="mb-0">JavaScript is a powerful language, and it is limited by your imagination.</p>
  <footer class="blockquote-footer">Fatih Kgokmen <cite title="Source Title">2020</cite></footer>
</blockquote>




<%- include("partials/general/generalFooter"); -%>
