<%- include("partials/general/generalHeader"); -%>

<main role="main" class="container">
  <h1 class="mt-5">Thank you for your patience and understanding</h1>
  <p class="lead">I'm currently working on this page.It will continue....</p>
</main>

<%- include("partials/general/generalFooter"); -%>
