<%- include("partials/general/generalHeader"); -%>

<main role="main" class="container mt-5">
  <h1>My creative Skills & Experiences</h1>
  <p> <br><i class="fas fa-ribbon"></i> Solid background and advanced knowledge in computer development software including Javascriprt ,  NodeJs, and React.
                    <br><i class="fas fa-ribbon"></i> Skilled in working with database management tools such as MySQL and MongoDB.
                    <br><i class="fas fa-ribbon"></i> Ability to solve complex successfully with minimal guidance or help using a logical reasoning technique and a strong attention to details.
                    <br><i class="fas fa-ribbon"></i> Communicating  and collaborating with team members and stakeholders to ensure effective working relationships.
                    <br><i class="fas fa-ribbon"></i> Working on multiple projects as a project team member
                    <br><i class="fas fa-ribbon"></i> Provides documentation of development, project progress, analysis, recommendations, either individually or by actively participating in development process
                     </p>
                     <hr style="margin: 60px auto; opacity: .5;">
  <img   src="/images/redmore.gif" class="rounded mx-auto d-block col-md-5 px-0 drone" alt="drone gif">
  <hr style="margin: 60px auto; opacity: .5;">
  <h2 class="mt-5">COMPUTER PROGRAMMING AND ANALYSIS PROGRAM </h2>
  <dl class="row">
    <dt class="col-sm-3"><br>FULL DESCRIPTION
      <br> Information Technology
      <br> Full-time 
      <br> 3 years (6 semesters) 
    </dt>
  
    <dd class="col-sm-9">
      
      <p><br><i class="fas fa-graduation-cap"></i>Program Learning Outcomes;
        
        <br><i class="fas fa-award"></i>Identify, analyze, design, develop, implement, verify and document the requirements for a computing environment.
        <br><i class="fas fa-award"></i>Diagnose, troubleshoot, document and monitor technical problems using appropriate methodologies and tools.
        <br><i class="fas fa-award"></i>Analyze, design, implement and maintain secure computing environments.
        <br><i class="fas fa-award"></i>Analyze, develop and maintain robust computing system solutions through validation testing and industry best practices.
        <br><i class="fas fa-award"></i>Communicate and collaborate with team members and stakeholders to ensure effective working relationships.
        <br><i class="fas fa-award"></i>Select and apply strategies for personal and professional development to enhance work performance.
        <br><i class="fas fa-award"></i>Apply project management principles and tools when responding to requirements and monitoring projects within a computing environment.
        <br><i class="fas fa-award"></i>Adhere to ethical, social media, legal, regulatory and economic requirements and/or principles in the development and management of the computing solutions and systems.
        <br><i class="fas fa-award"></i>Investigate emerging trends to respond to technical challenges.
        <br><i class="fas fa-award"></i>Gather, analyze and define software system specifications based on functional and non-functional requirements.
        <br><i class="fas fa-award"></i>Design, develop, document, implement, maintain and test software systems by using industry standard software development methodologies based on defined specifications and existing technologies/frameworks.
        <br><i class="fas fa-award"></i>Select and apply object-oriented and other design concepts and principles, as well as business requirements, to the software development process.
        <br><i class="fas fa-award"></i>Gather requirements and model, design, implement, optimize and maintain data storage solutions.
        <br><i class="fas fa-award"></i>Integrate network communications into software solutions by adhering to protocol standards.</p>
  </dl>

  <div class="container mt-5">
    <h2 class="text-center">FULL CURRICULUM </h2>
    <p class="text-center">3 years (6 semesters)</p>
    <p class="text-center">Click on the images to enlarge them.</p>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/images/semester1.png" target="_blank">
            <img src="/images/semester1.png" alt="Lights" style="width:100%">
            <div class="caption">
              <p class="text-center">1 & 2 Semester.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/images/semester2.png" target="_blank">
            <img src="/images/semester2.png" alt="Nature" style="width:100%">
            <div class="caption">
              <p class="text-center">2 & 3 Semester.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/images/semester3.png" target="_blank">
            <img src="/images/semester3.png" alt="Fjords" style="width:100%">
            <div class="caption">
              <p class="text-center">5 & 6 Semester.</p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
<hr style="margin: 60px auto; opacity: .5;">
  <ul class="list-unstyled mt-5">
    <li><b>The Courses based on :</b></li>
    <ul>
      <li> <i class="fas fa-business-time"></i>&nbsp;&nbsp;Knowledge of business systems...</li>
      <li><i class="fas fa-database"></i>&nbsp;&nbsp;Database development...</li>
      <li><i class="fas fa-laptop-code"></i>&nbsp;&nbsp;Object-oriented programming</li>
    </ul>
    <li><b>The languages :</b></li>
    <ul>
      <li> <i class="fas fa-file-code"></i>&nbsp;&nbsp;HTML & CSS  coding at real lab classes...</li>
      <li><i class="fab fa-java"></i>&nbsp;&nbsp;Java Object Programming</li>
      <li><i class="fab fa-js"></i>&nbsp;&nbsp;JavaScript "along jQuery"</li>
      <li><i class="fab fa-node-js"></i>&nbsp;&nbsp;NodeJS and React Native </li>
      <li><i class="fas fa-database"></i>&nbsp;&nbsp;DataBase "mySQL" , "MongoDB"</li>
      <li><i class="fab fa-php"></i>&nbsp;&nbsp;PHP </li>
      <li><i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;Mobile Application</li>
      <li><i class="fab fa-python"></i>&nbsp;&nbsp;Pyhton and Machine Learning</li>
     

    </ul>
  </ul>
  <h2 class="mt-5">Team Working... </h2>
  <dl class="row">
    <dt class="col-sm-3">You can learn programming but not  working as a team without school</dt>
    <dd class="col-sm-9">
      <p>Yes..., that is right.There is no “i” in team if you coding as a team.</p>
      <p>I have learned a lot while taking Computer Programming and Analyst.One of the most important one as i mention above , i learnt that there is no "i"
      in team working especially if you are coding along.The most creative one i believe is GitHub.It is fantastic.Froking ,creating repositories , making another branch and publishing
      It is hard to deal with some issues , so why not using the github and share with your friends without affecting your own original code.I have learned while taking courses.
      Making network and dealing with codes as a team.The most important part and i can say that i was really good with that.

      </p>
  </dl>

  <h2 class="mt-5">Projects and Assignments... </h2>
  <dl class="row">
    <dt class="col-sm-3">Are you expected to go to office hours for every assignment in order to complete it?</dt>
    <dd class="col-sm-9">
      <p> I can still remember that on my first semester i sat down on computer to complete my first project at the end of semester.I was trying complete my first website and present it in class to everyone.
        When i start coding it was giving an issue that i couldnt find out and sat there in despair for hours and hours :) .Finally , i found out that the issue was with looping.I can never forget it.
        Because learning is hard and so is programming.I remember that  assignment took me 30 hours which I could now that I know what I could do it easily.

      </p>
  </dl>
  <h1><i class="fas fa-mobile-alt"></i>Currently working on IOS swift Project with 4 teams ; </h1>
  <p><a href="https://www.youtube.com/watch?v=cGUA8l8bJBo" target="_blank"><i class="fab fa-youtube"></i>&nbsp;&nbsp;Watch the project on Youtube</a></p>
  <p><a href="https://github.com/fatihkgm/RestaurantGuideIOS" target="_blank"><i class="fab fa-github"></i>&nbsp;&nbsp;Check the source code on GitHub </a></p>
  <p> <a href="/downloads/IOS.pdf" target="_blank"><i class="fas fa-file-pdf"></i>&nbsp;&nbsp;Download the file as PDF</a></p>
        <iframe src="/downloads/IOS.pdf" frameborder = "0" width="100%" height="700px"></iframe>

    </div>
  </div>

  <h1><i class="fas fa-globe"></i> I built my PortFolio using  ; </h1>
<p class="lead"> I have used in thise website nodeJS,JavaScript,MongoDB with Mongoose.I have deployed my website heroku </p>
</main>
<hr style="margin: 60px auto; opacity: .5;">

<%- include("partials/general/generalFooter"); -%>
