<%- include("partials/general/generalHeader"); -%>

<main role="main" class="container mt-5">
  <h1>Sorry...!</h1>
  <p class="lead">
    Thank you for your patience and understanding as i work to fix the error
    that is causing server outages. I apologize for the delay in getting the
    websites up and running again.
  </p>
  <p>Sincerely,</p>
  <img
    src="/images/sorry.jpg"
    class="rounded mx-auto d-block col-md-5 px-0 drone"
    alt="drone gif"
  />
</main>

<%- include("partials/general/generalFooter"); -%>


